

@media (orientation: landscape)
{
    .cr-main{

        .cr-section-header{
    
            margin-top: 1rem;
            margin-left: 1rem;
            float: left;
    
            .cr-header{
                font-weight: 700;
                font-size: 70px;
            }
        }
    
        .cr-section-form{
            
            z-index: 1;
            position: fixed;
            margin-top: 7rem;
            margin-left: 5rem;
            margin-right: 40rem;
        
    
            
            .cr-form{
                
                border: 3px rgb(85, 76, 60) solid;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                background-color: wheat;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
                padding: 1rem;
    
                
                .cr-formgroup-title,
                .cr-formgroup-cooktime,
                .cr-formgroup-complexity{
    
                    width: 33%;
    
                    .cr-label-title,
                    .cr-label-cooktime,
                    .cr-label-complexity{
    
                        width: 450px;
    
                    }
    
                }
    
                .cr-br{
                    width: 100%;
                    height: 2px;
                    border: 2px solid rgb(118, 108, 83);
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
    
                .cr-formgroup-ingredient,
                .cr-formgroup-amount,
                .cr-formgroup-measurement{
    
                    width: 29%;
    
                    .cr-label-ingredient,
                    .cr-label-amount,
                    .cr-label-measurement{
    
                        width: 450px;
    
                    }
    
                }
    
                .cr-button-addingredient{
                    width: 150px;
                    height: 3rem;
                    margin-left: auto;
                    margin-right: 5.5%;
                    margin-top: 1.7rem;
                }
    
                .cr-formgroup-description{
                    width: 85.5%;
    
                    .cr-label-description{
                    }
    
                    .cr-input-description{
                        width: 120%;
                    }
    
                }
    
                .cr-formgroup-body{
                    width: 100%;
    
                    .cr-label-body{
                        width: 100%;
                    }
                    
                    .cr-input-body{
                        width: 120%;
                    }
    
                }
    
    
                .cr-formgroup-fileupload{
                    width: 30rem;
    
                    .cr-label-fileupload{
                        width: 100%;
                    }
    
                }
    
                .cr-formgroup-submit{
                    
                    margin-left: auto;
                    margin-right: auto;
    
                    .cr-button-submit{
                        width: 40rem;
                        background-color: rgb(197, 158, 84);
                        color: rgb(255, 255, 255);
                    }
    
                }
    
            }
            
        }
        .cr-section-table{
            float: right;
            width: 36rem;
            margin-right: 2rem;
            margin-top: 2rem;
            border: 3px rgb(85, 76, 60) solid;
            border-radius: 5px;
            z-index: -1;
    
            .cr-card{
    
                min-height: 49rem;
    
                background-color: wheat;
                .cr-card-body{
                    .cr-table-recipeingredients{
                        background-color: wheat;
                        border: 3px rgb(76, 63, 39) solid;
            border-radius: 5px;
                        padding: 2rem;
                    }
                }
            }
        }
        
    }
    
    .cr-label{
        font-weight: 600;
        font-size: 20px;
    }
    
    .suggestion-item{
        transition: 0.2s;
    }
    
    .suggestion-item:hover {
        background-color: #ededed; /* Change the background color on hover */
        cursor: pointer;
    }
}

@media (orientation: portrait)
{
    .cr-main{

        .cr-section-header{
    
            margin-top: 1rem;
            margin-left: 1rem;
    
            .cr-header{
                font-weight: 700;
                font-size: 30px;
            }
        }
    
        .cr-section-form{
            
            z-index: 1;
            margin-top: 1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        
            .cr-form{
                border: 3px rgb(85, 76, 60) solid;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
    
                background-color: wheat;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
                padding: 1rem;
    
                
                .cr-formgroup-title,
                .cr-formgroup-cooktime,
                .cr-formgroup-complexity{
    
                    width: 75%;
    
                    .cr-label-title,
                    .cr-label-cooktime,
                    .cr-label-complexity{
    
                        width: 250px;
    
                    }
    
                }
    
                .cr-br{
                    width: 100%;
                    height: 2px;
                    border: 2px solid rgb(118, 108, 83);
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
    
                .cr-formgroup-ingredient,
                .cr-formgroup-amount,
                .cr-formgroup-measurement{
    
                    width: 75%;
    
                    .cr-label-ingredient,
                    .cr-label-amount,
                    .cr-label-measurement{
    
                        width: 450px;
    
                    }
    
                }
    
                .cr-button-addingredient{
                    width: 100%;
                    height: 3rem;
                }
    
                .cr-formgroup-description{
                    width: 100%;
    
                    .cr-label-description{
                    }
    
                    .cr-input-description{
                        width: 100%;
                    }
    
                }
    
                .cr-formgroup-body{
                    width: 107%;
    
                    .cr-label-body{
                        width: 100%;
                    }
                    
                    .cr-input-body{
                        width: 100%;
                    }
    
                }
    
    
                .cr-formgroup-fileupload{
                    width: 20rem;
    
                    .cr-label-fileupload{
                        width: 100%;
                    }
    
                }
    
                .cr-formgroup-submit{
                    
                    margin-left: auto;
                    margin-right: auto;
    
                    .cr-button-submit{
                        width: 100%;
                        background-color: rgb(197, 158, 84);
                        color: rgb(255, 255, 255);
                    }
    
                }
    
            }
            
        }
        .cr-section-table{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border: 2px rgb(85, 76, 60) solid;
            border-radius: 5px;
            z-index: 1;
    
            .cr-card{
    
                transition: 0.55s;
                height: 3rem;
    
                background-color: wheat;
                .cr-card-body{
                    padding: 0.5rem;
                    text-align: center;
                    .cr-table-recipeingredients{
                        background-color: wheat;
                        border: 3px rgb(76, 63, 39) solid;
                        border-radius: 5px;
                    }
                }
            }
        }

        .cr-card-active{
    
            transition: 0.55s;
            height: 35rem;

            background-color: wheat;
            .cr-card-body{
                font-size: 12px;
                padding: 0.5rem;
                text-align: center;
                .cr-table-recipeingredients{
                    background-color: wheat;
                    border: 3px rgb(76, 63, 39) solid;
                    border-radius: 5px;
                    width: 100%;
                    
                    .cr-thead{

                    }
                    .cr-tbody{
                        .cr-tbody-row{
                            .cr-tbody-td{
                                .cr-remove-btn{
                                    background-color: rgba(0, 0, 0, 0);
                                    border: none;
                                    height: 1.5rem;
                                    width: 1.5rem;
                                    padding: 0;
                                    font-size: 1rem;
                                    color: red;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    .cr-label{
        font-weight: 600;
        font-size: 20px;
    }
    
    .suggestion-item{
        transition: 0.2s;
    }
    
    .suggestion-item:hover {
        background-color: #ededed; /* Change the background color on hover */
        cursor: pointer;
    }
}



















