@keyframes dropDown {
    from {
        height: 4rem;
    }

    to {
        height: 50rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes slideInFromLeft {
    from{
        margin-left: -14rem;
    }

    to{
        margin-left: 4rem;
    }
}

@keyframes slideInFromRight {
    from{
        margin-right: -20rem;
    }

    to{
        margin-right: 4rem;
    }
}

@media (orientation: landscape)
{
    .rl-main{

        .rl-section-header{

            animation: slideInFromLeft 1s ease-out;

            margin-left: 4rem;
            overflow: hidden;
            .rl-header{
                margin-top: 1rem;
                float: left;
                font-size: 60px;
                font-weight: 600;
            }
            .rl-selects{
    
                animation: slideInFromRight 1.5s ease-out;
                border: 3px rgb(85, 76, 60) solid;
                border-radius: 7px;
                background-color: wheat;
                padding: 1rem;
                float: right;
                margin-right: 4rem;
                margin-top: 0.5rem;
                
                .rl-complexity-div{
                    
                    float: left;
                    width: 100px;
                    
                    .rl-complexity-label{
                        /* margin-left: 10%; */
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .rl-complexity-input{
                        
                    }
                }
                .rl-cooktime-div{
        
                    margin-left: 4rem;
                    float: right;
                    width: 100px;
        
                    .rl-cooktime-label{
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .rl-cooktime-input{
        
                    }
                }
                
            }
        }
        
        .rl-br{
                width: 100%;
                height: 2px;
                border: 2px solid rgb(118, 108, 83);
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-left: 3rem;
                margin-right: 3rem;
        }
        
        .rl-section-list{
    
            animation: dropDown 1.5s ease;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            margin: 2rem;
            margin-top: 1rem;
            padding: 1rem;
            background-color: wheat;
            border: 3px rgb(85, 76, 60) solid;
            border-radius: 7px;
            
            .rl-card{

                animation: fadeIn 1.5s ease-out;
                animation-delay: 0.75s;
                animation-fill-mode: backwards;
                
                border: 3px rgb(141, 116, 73) solid;
                width: 28%;
                margin-bottom: 1rem;
                transition: 0.3s ease-in;
                z-index: 0;
    
                
                .rl-card-img-container{
                    height: 15rem;
                    background-color: black;
                    overflow: hidden;
                    
                    .rl-card-img{
                        
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        overflow: hidden;
        
                    }
    
    
                }
                
                
    
                .rl-card-header{
                    
                    background-color: rgb(255, 240, 212);
                    font-weight: 650;
                    font-size: 24px;
                    
                }
    
                .rl-card-body{
                    background-color: rgb(252, 244, 230);
                    font-style: italic;
                    
                }
                
                &:hover {
    
                    transform: scale(1.05);
                    z-index: 1;
    
                    .rl-card-img-container{
    
                        .rl-card-img{
    
                        }
                    }
                }
    
            }
            
            /* .rl-card:hover{
                
                
                
                .rl-card-img-container{
                    
                    
                    .rl-card-img{
                        
                        
        
                    }
                }
                
    
    
                .rl-card-header{
    
    
    
                }
    
                .rl-card-body{
    
    
                }
    
            } */
    
        }
    
    }
}


/* MOBILE STYLE */

@media (orientation: portrait){
    .rl-main{
    
        .rl-section-header{
            margin-left: 1rem;
            overflow: hidden;
            .rl-header{
                margin-top: 2rem;
                float: left;
                font-size: 34px;
                font-weight: 600;
            }
            .rl-selects{
    
                border: 3px rgb(85, 76, 60) solid;
                border-radius: 7px;
                background-color: wheat;
                padding: 0.7rem;
                float: right;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                
                .rl-complexity-div{
                    
                    float: left;
                    width: 70px;
                    
                    .rl-complexity-label{
                        /* margin-left: 10%; */
                        font-weight: bold;
                        font-size: 13px;
                    }
                    .rl-complexity-input{
                        
                    }
                }
                .rl-cooktime-div{
        
                    margin-left: 1rem;
                    float: right;
                    width: 70px;
        
                    .rl-cooktime-label{
                        font-weight: bold;
                        font-size: 13px;
                    }
                    .rl-cooktime-input{
        
                    }
                }
                
            }
        }
    
    }

}
