.h-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-header {
    margin-top: 15rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    border: 3px rgb(85, 76, 60) solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px; /* Add margin to create space between header and button */
}

.h-button-div {
    margin-top: 20px; /* Add margin to create space between header and button */
}

.h-btn {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #28a745; /* Success color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.h-btn:hover {
    background-color: #218838; /* Darker shade of success color on hover */
}
