@keyframes unLoad {
    from{
        margin-right: 0;
    }
    to{
        margin-right: 170rem;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

.anim-unload{
    animation: unLoad 1.15s ease-in;
    animation-fill-mode: forwards;
}

.anim-fadeout{
    animation: fadeOut .75s ease;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
}

.h-main {
    display: flex;
    position: absolute; /* or relative, depending on your layout */
    left: -50rem; /* Adjust as needed to extend beyond the left edge */
    right: -50rem; /* Adjust as needed to extend beyond the right edge */

    flex-direction: column;
    align-items: center;
}

.h-section{
    /* margin-right: 100rem; */
}

@media(orientation: landscape)
{
    .h-header {
        max-height: 11rem;
        margin-top: 15rem;
        font-family: 'Helvetica', sans-serif;
        font-size: 100px;
        font-weight: 700;
        text-align: center;
        border: 3px rgb(85, 76, 60) solid;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 20px; /* Add margin to create space between header and button */
    }

    .h-button-div {
        margin-top: 20px; /* Add margin to create space between header and button */
    }

    .h-btn {
        font-family: 'Helvetica', sans-serif;
        font-size: 18px;
        padding: 10px 20px;
        background-color: #28a745; /* Success color */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .h-btn:hover {
        background-color: #218838; /* Darker shade of success color on hover */
    }
}

@media(orientation: portrait) {
    .h-header {
        margin-top: 15rem;
        font-size: 30px;
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        border: 3px rgb(85, 76, 60) solid;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 20px; /* Add margin to create space between header and button */
    }

    .h-button-div {
        margin-top: 20px; /* Add margin to create space between header and button */
    }

    .h-btn {
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        padding: 10px 20px;
        background-color: #28a745; /* Success color */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

